/* make the customizations */
$theme-colors: (
        "primary":#2E31D2,
        "secundary":#D3D3D3,
        "light": #D3D3D3
);

//#CD2527



/* import bootstrap to set changes */
@import "../~bootstrap/scss/bootstrap";

.btn-secundary {
    color: #ffffff;
    
}
.btn-secundary:hover {
    color: #ffffff
}

.btn {
    border-radius: 20px;
}

.strong {
    font-weight: bold;
    font-size: 20px;
}

.bg-danger {
    background-color: #CD2527 !important;
}

.bg-warning {
    background-color: #FFC107 !important;
}

.bg-success {
    background-color: #28A745 !important;
}

// https://www.youtube.com/watch?v=ZzedzTP2evg





