/* make the customizations */
$theme-colors: (
        "primary":#2E31D2,
        "secundary":#D3D3D3,
        "light": #D3D3D3
);

//#CD2527





/* import bootstrap to set changes */
@import "../~bootstrap/scss/bootstrap";

.btn-secundary {
    color: #ffffff;
    
}
.btn-secundary:hover {
    color: #ffffff
}

.btn {
    border-radius: 20px;
}

.background-gradient {
    background-image: linear-gradient(to bottom, #D3D3D3, white);
}
.background-gradient2 {
    background-image: linear-gradient(to top, #D3D3D3, white);
   
}

.strong {
    font-weight: bold;
    font-size: 15px;
}

.bg-danger {
    background-color: #D3D3D3 !important;
}

.bg-warning {
    background-color:  #D3D3D3!important;
}

.bg-success {
    background-color:  #D3D3D3 !important;
}

.captcha {
    background-color: transparent;
    display: inline-block;
    border-radius: 20px;
    padding: 20px;
}

.captchaform {
    display: inline-block;
    margin-top: 20px;
  
    
}
.button-form{
    margin-bottom: 30px;
}

.divPreferredSchedule{
    display: inline-block;
    background-color: lightgrey;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 400px
    
}

.placeholdertext{
    color: #a9a9a9;
    
}

.display-6 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.display-5 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.lead {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: normal;}

.lead2 {
    font-family: 'Roboto', sans-serif;;   
    font-size: 20px;
   }

h1 {
    font-family: 'Roboto', sans-serif;
}

.trashbin {
    color: #D3D3D3;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;

}

.addButton {  
    color: white;
    font-size: 30px;
    align-items: center;


}

.padding-left-class {
    padding-left: 60px;
}

.bg-light {
    background-color: #D3D3D3 !important;
}

.center-items {
    display: inline-flexbox;
  
    justify-content: center;
    align-items: center;
}














// https://www.youtube.com/watch?v=ZzedzTP2evg





